# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/

# Temporary files
*.tmp
*.swp


server.cert
server.key
